@model IEnumerable<Controlle_de_Senha.Models.Password>

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Proximo cliente senha: <span style="font-size: 345px;">22</span></h1>
 </div>

